$brand-primary:             #03a9f4;
$brand-success:             #ff824f;
$brand-info:                #9575cd;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

$font-family-sans-serif:     'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;